*.env
*-venv
*-ntm-dev-tables.py
*.cache
*postgreSQL-scripts
*whisper-models
*allrequirements.txt
*trigger_timestamp_pop.py
*db_conn.py
*packages
dockerfile
*test.ipynb
*set_list_tags.txt
*trig-table-cleanup.py
*llmtest.ipynnb
*ml
*old_table-populate.py
*drivedetails.py
*.gguf
*latandlog.ipynb
*llama.cpp-master
*mixtral-test.py
*llmmixtraldockerfile
!dockerlogin.env
*classifiertesting.ipynb
*engineering_classifier
*engineering_classifierV2
*classifier_output
*engineering_classifierV3
*engineering_classifierV4
*engineering_classifierV5
*engineering_classifierV6
*engineering_classifierV7
*engineering_classifierV8