aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.4.0
alembic==1.16.2
antlr4==4.9.3
asammdf==8.0.0
asteroid_filterbanks==0.4.0
attrs==25.3.0
av==14.4.0
canmatrix==1.2.0
certifi==2025.5.15
cffi==1.17.1
charset_normalizer==3.4.2
click==8.2.1
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
contourpy==1.3.2
ctranslate2==4.4.0
cycler==0.12.1
docopt==0.6.2
einops==0.8.1
faster_whisper==1.1.0
ffmpeg_python==0.2.0
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.58.5
frozenlist==1.7.0
fsspec==2025.5.1
future==1.0.0
geopandas==1.1.1
godap_orm==0.6.6
godap_utils==0.1.6
godap==0.4.3
greenlet==3.2.3
hf-xet==1.1.5
huggingface_hub==0.33.2
humanfriendly==10.0.0
hyperpyyaml==1.2.2
idna==3.10.0
isal==1.7.2
jinja2==3.1.6
joblib==1.5.1
julius==0.2.7
kiwisolver==1.4.8
lightning_utilities==0.14.3
lightning==2.5.2
llvmlite==0.44.0
loguru==0.7.3
lxml==6.0.0
lz4==4.4.4
mako==1.3.10
markdown_it_py==3.0.0
markupsafe==3.0.2
matplotlib==3.10.3
mdurl==0.1.2
more_itertools==10.7.0
mpmath==1.3.0
multidict==6.6.3
networkx==3.5.0
nltk==3.9.1
numba==0.61.2
numexpr==2.11.0
numpy==1.26.4
nvidia_cublas_cu12==12.1.3.1
nvidia_cuda_cupti_cu12==12.1.105
nvidia_cuda_nvrtc_cu12==12.1.105
nvidia_cuda_runtime_cu12==12.1.105
nvidia_cudnn_cu12==8.9.2.26
nvidia_cufft_cu12==11.0.2.54
nvidia_curand_cu12==10.3.2.106
nvidia_cusolver_cu12==11.4.5.107
nvidia_cusparse_cu12==12.1.0.106
nvidia_nccl_cu12==2.19.3
nvidia_nvijitlink_cu12==12.9.86
nvidia_nvtx_cu12==12.1.105
omegaconf==2.3.0
onnxruntime==1.22.0
whisper==2025.06.25
optuna==4.4.0
packaging==25.0
pandas==2.3.0
pillow==11.3.0
primepy==1.3
propcache==0.3.2
protobuf==6.31.1
psycopg2-binary==2.9.10
pyannote.audio==3.3.2
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pybind11==2.13.6
pycparser==2.22
pygments==2.19.2
pyogrio==0.11.0
pyparsing==3.2.3
pyproj==3.7.1
pyreadline3==3.5.4
python_dateutil==2.9.0
python_dotenv==1.1.1
pytorch_lightning==2.5.2
pytorch-metric-learning==2.8.1
pytz==2025.2
pyyaml==6.0.2
regex==2024.11.6
requests==2.32.4
rich==14.0.0
ruamel.yaml.clib==0.2.12
ruamel.yaml==0.18.14
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.16.0
semver==3.0.4
sentencepiece==0.2.0
setuptools==80.9.0
shapely==2.1.1
shellingham==1.5.4
six==1.17.0
sortedcontainers==2.4.0
soundfile==0.13.1
speechbrain==1.0.3
sqlalchemy==2.0.41
sympy==1.14.0
tabulate==0.9.0
tensorboardx==2.6.4
threadpoolctl==3.6.0
tiktoken==0.9.0
tokenizers==0.21.2
torch_audiomentations==0.12.2
torch_pitch_shift==1.2.5
torch==2.2.0
torchaudio==2.2.0
torchmetrics==1.7.4
tqdm==4.67.1
transformers==4.53.1
triton==2.2.0
typer==0.16.0
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
whisperx==3.3.1
win32_setctime==1.2.0
yarl==1.20.1



