annotated_types==0.7.0
better_profanity==0.7.0
blis==1.2.0
catalogue==2.0.10
certifi==2025.7.14
charset_normalizer==3.4.2
click==8.2.1
cloudpathlib==0.21.1
colorama==0.4.6
confection==0.1.5
cymem==2.0.11
filelock==3.18.0
fsspec==2025.7.0
hf_xet==1.1.5
huggingface-hub==0.33.4
idna==3.10
jinja2==3.1.6
langcodes==3.5.0
language_data==1.3.0
loguru==0.7.3
marisa_trie==1.2.1
markdown-it-py==3.0.0
markupsafe==3.0.2
mdurl==0.1.2
mpmath==1.3.0
murmurhash==1.0.13
networkx==3.5
numpy==2.3.1
nvidia_cublas-cu12==12.6.4.1
nvidia_cuda_cupti_cu12==12.6.80
nvidia_cuda_nvtrc_cu12==12.6.77
nvidia_cuda_runtime_cu12==12.6.77
nvidia_cudnn_cu12==9.5.1.17
nvidia_cufft_cu12==11.3.0.4
nvidia_cufile_cu12==1.11.1.6
nvidia_curand_cu12==10.3.7.77
nvidia_cusolver_cu12==11.7.1.2
nvidia_cusparse_cu12==12.5.4.2
nvidia_cusparselt_cu12==0.6.3
nvidia_nccl_cu12==2.26.2
nvidia_nvitjlink_cu12==12.6.85
nvidia_nvtx_cu_12==12.6.77
packaging==25.0
preshed==3.0.10
psycopg2-binary==2.9.10
pydantic_core==2.33.2
pydantic==2.11.7
pygments==2.19.2
pyyaml==6.0.2
regex==2024.11.6
requests==2.32.4
rich==14.0.0
safetensors==0.5.3
setuptools==80.9.0
shellingham==1.5.4
smart_open==7.3.0
spacy_legacy==3.0.12
spacy_loggers==1.0.5
spacy==3.8.7
srsly==2.5.1
sympy==1.14.0
thinc==8.3.4
tokenizers==0.15.2
torch==2.7.1
tqdm==4.67.1
transformers==4.37.2
triton==3.3.1
typer==0.16.0
typing-extensions==4.14.1
typing-inspect==0.4.1
urllib3==2.5.0
wasabi==1.1.3
weasel==0.4.1
win32_setctime==1.2.0
wrapt==1.17.2